body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#000,#00ffff);
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

.container{
background:black;
padding:40px;
border-radius:12px;
box-shadow:0 0 20px aqua;
width:350px;
}

h2{
color:aqua;
text-align:center;
margin-bottom:30px;
}

.input-box{
position:relative;
margin-bottom:25px;
}

.input-box input{
width:100%;
padding:10px;
background:none;
border:none;
border-bottom:2px solid aqua;
color:white;
outline:none;
}

.input-box label{
position:absolute;
left:0;
top:10px;
color:#aaa;
transition:.3s;
}

.input-box input:focus + label,
.input-box input:valid + label{
top:-12px;
font-size:12px;
color:aqua;
}

button{
width:100%;
padding:12px;
background:aqua;
border:none;
font-weight:bold;
cursor:pointer;
border-radius:5px;
transition:.3s;
}

button:hover{
background:white;
}

#toggle{
position:absolute;
right:10px;
top:10px;
cursor:pointer;
color:aqua;
}